<!DOCTYPE html>
<html>
<head>
<% include ./partials/head.ejs %>
	<title>Index Page</title>
</head>
<body>
<% include ./partials/header.ejs %>
<section class="posts">
<% for(post of posts) {%>
	<div id="<%= post._id %>" class="index-post">
	<div class="arrows">
	<form action="/posts/<%= post._id %>/like" method="POST">
	<% if(logged) { %>
		<input class="up arrow" type="image" src="
		<% if(UserObject.likedPosts.indexOf(post._id) !== -1) { %>
		/up-selected.png
		<% } else { %>
		/up-unselected.png
		<% } %>
		"></form>
		</form>
		<h2 class="score 
		<% if(UserObject.likedPosts.indexOf(post._id) !== -1) { %>
		liked
		<% } else if(UserObject.dislikedPosts.indexOf(post._id) !== -1) { %>
		disliked
		<% } else { %>
		unliked
		<% } %>
		"><%= post.likes - post.dislikes %></h2>
		<form action="/posts/<%= post._id %>/dislike" method="POST">
		<input class="down arrow" type="image" src="
		<% if(UserObject.dislikedPosts.indexOf(post._id) !== -1) { %>
		/down-selected.png
		<% } else { %>
		/down-unselected.png
		<% } %>
		"></form>
		<%} else {%>
		<form action="/posts/<%= post._id %>/like" method="POST">
		<input class="up arrow" type="image" src="/up-unselected.png"></form>
		<h2 class="score unliked"><%= post.likes - post.dislikes %></h2>
		<form action="/posts/<%= post._id %>/dislike" method="POST">
		<input class="down arrow" type="image" src="/down-unselected.png"></form>
		<% } %>
		</form>
	</div>
	<div class="post-info">
	<a target="_blank" href="<%= post.link %>"><h3 class="post-title"><%= post.title %></h3></a>
	<% if(user === post.user.username) { %>
	<div class="dropdown">
		  <img src="/dotsv.svg" class="dropbtn">
		  <div class="dropdown-content">
		    <a href="/posts/<%= post._id %>/edit">Edit</a>
		    <a href="/posts/<%= post._id %>/delete?_method=DELETE">Delete</a>
		  </div>
	</div>
	<% } %>
	<h4 class="poster">posted <% if((-1* Math.round((post.posted - Date.now())/60000)) < 60) { %>
	<%= -1* Math.round((post.posted - Date.now())/60000) %> minutes
	<% } else if (-1* Math.round((post.posted - Date.now())/3600000) === 1){ %>
	<%= -1* Math.round((post.posted - Date.now())/3600000) %> hour
	<% } else { %>
	<%= -1* Math.round((post.posted - Date.now())/3600000) %> hours
	<% } %>
	 ago by <a href="/users/<%= post.user._id %>"><%= post.user.username %></a><br>
	<img class="show-video hidden" src="/play@2x.png">
	<div class="song"><%- post.embed %></div>
	</div>
	</div>
<% } %>
</section>
</body>
</html>