<!DOCTYPE html>
<html>
<head>
<% include ./partials/head.ejs %>
	<title>Index Page</title>
</head>
<body>
<header>
<h1 class="logo">Herdit</h1>
<div class="login-register">
<% if(!logged) { %>
	<a href="/sessions/login">Log-In</a> / 
	<a href="/sessions/register">Register</a>
<% } else { %>
	<p class="username"><%= user %></p>
	<a class="new-post" href="/posts/new">New Post!</a>
	<a href="/sessions/logout">Logout</a>
<% } %>
</div>
</header>
<section class="posts">
<% for(post of posts) {%>
	<div id="<%= post._id %>" class="index-post">
	<div class="arrows">
	<form action="/posts/<%= post._id %>/like" method="POST">
	<% if(logged) { %>
		<input class="up arrow" type="image" src="
		<% if(UserObject.likedPosts.indexOf(post._id) !== -1) { %>
		./up-selected.png
		<% } else { %>
		./up-unselected.png
		<% } %>
		"></form>
		</form>
		<h2 class="score"><%= post.likes - post.dislikes %></h2>
		<form action="/posts/<%= post._id %>/dislike" method="POST">
		<input class="down arrow" type="image" src="
		<% if(UserObject.dislikedPosts.indexOf(post._id) !== -1) { %>
		./down-selected.png
		<% } else { %>
		./down-unselected.png
		<% } %>
		"></form>
		<%} else {%>
		<form action="/posts/<%= post._id %>/like" method="POST">
		<input class="up arrow" type="image" src="./up-unselected.png"></form>
		<h2 class="score"><%= post.likes - post.dislikes %></h2>
		<form action="/posts/<%= post._id %>/dislike" method="POST">
		<input class="down arrow" type="image" src="./down-unselected.png"></form>
		<% } %>
		</form>
	</div>
	<div class="post-info">
	<a href="<%= post.link %>"><h3 class="post-title"><%= post.title %></h3></a>
	<h4 class="poster"><%= post.user %></h4>
	<img class="show-video hidden" src="./play@2x.png">
	<div class="song"><%- post.link %></div>
	</div>
	</div>
<% } %>
</section>
</body>
</html>